sudo: false

language: node_js
node_js:
    - "6"

branches:
  only:
    - master

before_script:
  - npm install

script:
  - htmlhint index.html
  - jshint javascripts/**/*.{js,json}
  - csslint **/*.css
  - mocha javascripts/tests/*.js
